################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/src/.vs
/src/Agent.Abstractions/bin/Debug/net8.0
/src/Agent.Abstractions/obj
/src/Agent.Core/bin/Debug/net8.0
/src/Agent.Core/bin/Debug/net8.0/Agent.Abstractions.dll
/src/Agent.Core/bin/Debug/net8.0/Agent.Abstractions.pdb
/src/Agent.Core/bin/Debug/net8.0/Agent.Core.deps.json
/src/Agent.Core/bin/Debug/net8.0/Agent.Core.dll
/src/Agent.Core/bin/Debug/net8.0/Agent.Core.pdb
/src/Agent.Core/obj
/src/Agent.Runtime/bin/Debug/net8.0
/src/Agent.Runtime/obj
/src/Agent.Tools/bin/Debug/net8.0
/src/Agent.Tools/bin/Debug/net8.0/Agent.Abstractions.dll
/src/Agent.Tools/bin/Debug/net8.0/Agent.Abstractions.pdb
/src/Agent.Tools/bin/Debug/net8.0/Agent.Tools.deps.json
/src/Agent.Tools/bin/Debug/net8.0/Agent.Tools.dll
/src/Agent.Tools/bin/Debug/net8.0/Agent.Tools.pdb
/src/Agent.Tools/obj
/src/Services.GrpcServer/bin/Debug/net8.0
/src/Services.GrpcServer/obj
/src/Simulators.Modbus/bin/Debug/net8.0
/src/Simulators.Modbus/obj
/tests/Agent.Tests/bin/Debug/net8.0
/tests/Agent.Tests/obj
